/* BUTTON */

.searchSpark {
  font-size: 16px;
  background: #4FC1E9;
  width: 300px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font: bold;
  padding: 12px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  border-radius: 10px;
  margin: 2px 0px 4px 0px;

}

.navAddSpark {
  background: #ED5565;
  margin-left: 15%;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 10px;
  width: 200px; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  border-radius: 10px;

}



.socialbutton {
	background: #ED5565;
	text-align: center;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font: bold;
  font-size: 15px;
  padding: 10px;
  width: 100px; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  border-radius: 10px;
}


.button {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font: bold;
  font-size: 15px;
  padding: 10px;
  width: 200px; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  border-radius: 10px;
  margin: 1px;
}

.categoryGroup {
  display: inline-block;
  overflow: hidden;
  height: auto;
  background: grey;
  color: #FFCE54;
  text-transform: uppercase;
  width: auto;
  margin: 20px 0;
  text-align: center;
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  border-radius: 10px;
}

.social {
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  height: auto; 

}

button {
  border: none;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px;
}
