*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/*
------------------------------------------- RESET STYLES ----------------------------------------------------------------
*/
html, body, div, span, , object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, em, img, var, ol, ul, li, form, label, 
table, tr, th, td, article, aside, footer, header,
menu, nav, output, section, summary,
time, mark, audio, video {
  font-size: 100%;
  font: Lato;
  vertical-align: baseline; 
}

